<div>
	 <div class="panel panel-default" >
        <div class="panel-heading">
            <h2>Gestion Des Formulaire</h2>

        </div>
        <!-- /.panel-heading -->

        <div class="cover"></div>

        <div class="panel-body">
            <!-- Nav tabs -->
            <div id="om-options">
                <a href="#depot" style="padding-left: 4rem; padding-right: 4rem;"   data-toggle="tab">Creer Formulaire</a>

                <a href="#retrait" style="padding-left: 4rem; padding-right: 4rem;"  data-toggle="tab">Modifier Formulaire </a>

               

            </div>

            <!-- Tab panes -->
            <div class="tab-content" style="width:100%">
				 <div class="tab-pane fade in" style="width:100%" id="depot">
					 <div class="row">
						<div class="col-lg-7 col-md-7 col-xs-7 col-sm-7"> 
							<div class="form-group">
								<label>Donner le titre du nouveau formulaire</label>
								<input type="text" (keyup)="reinitilise_errorTitre()" [(ngModel)]="titre" name="titre" class="form-control" placeholder="Donner le titre du formulaire" />
								<p *ngIf="errorTitre" class="alert alert-danger">Veuillez choisir untitre</p>
							</div>
							<form>
								<fieldset>
									<legend></legend>
									<div id="mag" #mag class="form-group" *ngFor="let f of tabF">
										<label >{{f.label}}</label>  
									</div>
									<div id="rasta">
									</div>
								</fieldset>
								<button (click)="enregistrer_form()" class="btn btn-success">Enregistrer</button>
							</form>
						</div>
						<div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
							<form class="well">
								<fieldset>
									<legend>Cree une Question</legend>
									<div style="margin-bottom:1.5em">
										<select style="margin-bottom:1.5em" name="form" [(ngModel)]="form" (change)="chargerForm()">
											<option>type de question</option>
											<option value="1">Fermer</option>
											<option value="2">Ouverte</option>
										</select>
										<div *ngIf="ouverte">
											<label>Veuillez Choisir Votre Label</label>
											<input type="text" [(ngModel)]="label" name="label" placeholder="votre label ici" />
										</div>
										<div  *ngIf="fermer">
											<div class="form-group">
												<label>Poid De La Question</label>
												<input type="number" class="form-control" min="1" name="poid" [(ngModel)]="poid" />
											</div>
											<div *ngIf="false" >
												<label>Donner Le Nombre de Reponse</label>
												<input name="nbReponse" [(ngModel)]="nbReponse" type="number" min="1" />
											</div>
											<div>
												<label>type</label>
												<select name="type_question_fermer" [(ngModel)]="type_question_fermer">
													<option value="2">Bouton Radio</option>
													<option value="1">Select</option>
												</select>
											</div>
											<div class="form-group">
												<label>Votre Question</label>
												<input type="text" name="question" [(ngModel)]="question" class="form-control" />
											</div>
											<div>
												<label>Reponse 1</label>
												<input id="reponse1" type="text" class="form-control" />
											</div>
											<div>
												<label>Reponse 2</label>
												<input id="reponse2" type="text" class="form-control" />
											</div>
											<div id="newRep"></div>
											<button (click)="ajouterReponse()">Ajouter Reponse</button>
										</div>
									</div>
									<button (click)="ajouter()" class="btn btn-primary">Ajouter</button>
								</fieldset>
							</form>
						</div>
					 </div>
				 </div>
				 <div class="tab-pane fade in" style="width:100%" id="retrait">
					 modifier formulaire
				 </div>
			</div>
		</div>
	</div>
</div>
