<div style="width:50%;margin-left:auto;margin-right:auto;margin-top:15%;">
	<form>
		<fieldset>
			<legend style="color:#003366">Formulaire de Connexion</legend>
			<div class="form-group">
				<label style="color:#003366">Identifiant :</label>
				<input type="text" [(ngModel)]="identifiant" name="identifiant" class="form-control" />
			</div> 
			<div class="form-group">
				<label style="color:#003366" >Password :</label>
				<input type="password" [(ngModel)]="password" name="password" class="form-control" />
			</div>
			<button (click)="login()" class="btn btn-success">valider</button>
		</fieldset>
	</form>
	<!--<router-outlet></router-outlet>-->
</div>
