<div>
  <table style="background-color: whitesmoke" class="table table-striped table-condensed">
    <tr style="background-color: #A52A2A;color:white">
      <td><b><i>NOM CAMPAGNE</i></b></td>
      <td><b><i>OBJECTIF</i></b></td>
    </tr>
    <tr>
      <td><b style="font-size: 2em">{{campagne.nom}}</b></td>
      <td><b style="font-size: 2em">{{campagne.objectif}}</b></td>
    </tr>
  </table>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
      <div class="card card-stats" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);background-color: rgb(85, 42, 165)">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="numbers">
                  <p class="card-category" style="color: white">Cibles</p>
                  <h3 class="card-title" style="color: white">160</h3>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="icon-big text-center">
                  <div class="icon-warning">
                    <i  class="fa fa-list-alt" style="color: white;font-size: 62px"></i> <p  style="color: white;cursor: pointer;">voir la liste</p>
                  </div>
                </div>
              </div>
            </div>
           <!-- <div class="card-footer" style="background-color: white">
              <div class="stats" >
                <i class="fa fa-refresh"></i>
                Update now
              </div>
            </div>-->
          </div>
      </div> 

  </div>
  <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
    
      <div class="card card-stats" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);background-color: rgb(42, 165, 104)">
          <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="numbers">
                <p class="card-category" style="color: white">Reponses</p>
                <h3 class="card-title" style="color: white">100</h3>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="icon-big text-center">
                <div class="icon-warning">
                  <i  class="fa fa-list-alt" style="color: white;font-size: 62px"></i> <p  style="color: white;cursor: pointer;">voir la liste</p>
                </div>
              </div>
            </div>
          </div>
         <!-- <div class="card-footer" style="background-color: white">
            <div class="stats" >
              <i class="fa fa-refresh"></i>
              Update now
            </div>
          </div>-->
        </div>
      </div>   
  </div>
  <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
    
      <div class="card card-stats" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);background-color: #FF0000">
          <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="numbers">
                <p class="card-category" style="color: white">Restants</p>
                <h3 class="card-title" style="color: white">60</h3>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="icon-big text-center">
                <div class="icon-warning">
                <i  class="fa fa-list-alt" style="color: white;font-size: 62px"></i> <p  style="color: white;cursor: pointer;">voir la liste</p>
                </div>
              </div>
            </div>
          </div>
         <!-- <div class="card-footer" style="background-color: white">
            <div class="stats" >
              <i class="fa fa-refresh"></i>
              Update now
            </div>
          </div>-->
        </div>
      </div>
  </div>
</div>
<div style="background-color: #003366;box-shadow: 8px 8px 12px #aaa;border-radius: 20px 20px 20px 20px">
  <h1 style="text-align:center;color:white"><b><i>QUESTIONNAIRES</i></b></h1>
</div>
<div>
  <table style="background-color: whitesmoke" class="table table-striped table-condensed">
    <tr style="background-color: #A52A2A;color:white">
      <th><b><i>NOM FORMULAIRE</i></b></th>
      <th><b><i>CIBLES</i></b></th>
      <th><b><i>REPONSES</i></b></th>
      <th><b><i>RESTANTS</i></b></th>
      <th><b><i>ACTIONS</i></b></th>
    </tr>
    <tr *ngFor="let f of formulaires">
      <td>{{f.titre}}</td>
      <td>20</td>
      <td>15</td>
      <td>5</td>
      <td>
        <input (click)="showModalDetail(detail)" type="button" class="btn btn-primary" value="detail"/>
      </td>
    </tr>

  </table>
</div>
<ng-template #detail class="col-lg-10 col-md-10 col-sm-10">
    <div class="modal-header">
       <button type="button" class="close pull-right" aria-label="Close" (click)="hideModalDetail()">
         <span aria-hidden="true">&times;</span>
       </button>
       <h4 class="modal-title" id="myModalLabel"><b><i>DETAIL QUESTIONNAIRE</i></b></h4>
   </div>
   <div class="modal-body">
     <div>
       <P>Question 1</P>
      <table class="table table-condensed table-striped">
        <tr>
          <th>Reponses</th>
          <th>Nombre</th>
          <th>Pourcentage</th>
        </tr>
        <tr>
          <td>reponse 1</td>
          <td>20</td>
          <td>10%</td>
        </tr>
        <tr>
            <td>reponse 2</td>
            <td>20</td>
            <td>10%</td>
          </tr>
      </table>
     </div>
     <div>
        <P>Question 2</P>
       <table class="table table-condensed table-striped">
         <tr>
           <th>Reponses</th>
           <th>Nombre</th>
           <th>Pourcentage</th>
         </tr>
         <tr>
           <td>reponse 1</td>
           <td>20</td>
           <td>10%</td>
         </tr>
         <tr>
            <td>reponse 2</td>
            <td>20</td>
            <td>10%</td>
          </tr>
       </table>
      </div>
   </div>
   <div class="modal-footer">
     <input type="button"   value="imprimer" class="btn btn-primary" />
     <input type="button" (click)="hideModalDetail()" value="annuler"  class="btn btn-danger" />
   </div>
</ng-template>